canvas{
  background: url(../img/checker.svg);
  background-size: contain;
}

span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;      
}

#container{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  position: relative;
  top: 90%;
  transform: translateY(5%);
}

#containerWrapper {
  text-align: center;
}

#titleBar{
  margin-top:10px;
  background-color: #387A8C;
  width: 100%;
  height: 50px;
  color: white;
  text-align: center;
  vertical-align: middle;
  font-size: 32px;
  font-family: 'Raleway', sans-serif;
}
